@import 'src/styles/_variables.scss';
@import 'src/styles/_mixin.scss';


.warning{
    width: 100vw;
    text-align: center;
    &__titre{
        @include title-styles;
        color: $main-color;

    }
}