<main *ngIf="blog" class="blog">
    <p class="blog__mot-cle">
        <strong *ngFor="let mot of blog.mots_cles">{{mot}}</strong>
    </p>
    <h1 class="blog__titre">{{blog.title}}</h1>
    <span class="blog__info">Publié le <strong class="blog__date">{{blog.created_at |  date:'dd/MM/YYYY'}}</strong></span>

    <section class="blog__contain blog__contain--texte">
        <p class="blog__texte" [innerHTML]="blog.content" ></p>
    </section>

    <section class="blog__contain">
        <img *ngFor="let image of blog.image" [src]="image" [alt]="image"  class="blog__image">
    </section>

</main>

<app-preview-blog [id]="id" title="NOS AUTRES ARTICLES"></app-preview-blog>

<app-contact></app-contact>