<section class="gain">
    <h2 class="gain__titre">Comment réduire le temps passé à faire les courses ? </h2>
    <h3 class="gain__sous-titre">4 380 heures, c’est le temps, en moyenne, que l’on passe dans une file d’attente d’une caisse de magasin au cours de notre vie.</h3>
    
    <ul class="gain__containt">
        <li class="item">
            <img src="assets/logo-question.png" class="item__image">
            <h4 class="item__titre">A QUOI VA SERVIR UN CADDIE CONNECTÉ ?</h4>
            <p class="item__texte">Le chariot connecté ou caddie intelligent, c’est désormais une réalité. Plus qu’un gadget techno, ce nouveau compagnon intelligent pourrait bien à lui seul bouleverser notre façon de faire les courses, mais également au-delà, redessiner totalement nos supermarchés et même y faire revenir ceux qui les avaient désertés.</p>
            <a class="item__button" routerLink="in-progress">En savoir plus > </a>
        </li>
        <li class="item">
            <img src="assets/logo-caddie.png" class="item__image">
            <h4 class="item__titre">C’EST QUOI UN CADDIE CONNECTÉ ?</h4>
            <p class="item__texte">Faire ses courses plus vite, en manipulant le moins possible les produits et en évitant en plus de faire la queue à la caisse. Autant d’arguments qui séduisent les consommateurs. Pour y parvenir, ce caddie concentre évidemment le meilleur de la technologie du moment : intelligence artificielle, scanning, géolocalisation…</p>
            <a class="item__button" routerLink="in-progress">En savoir plus > </a>
        </li>
    </ul>
</section>