@import 'src/styles/_variables.scss';
@import 'src/styles/_mixin.scss';


.cgv{
    padding: 30px;
    padding-bottom: 10%;
    border-top: 10px solid $main-color;
    
    @media (min-width: 900px) {
        padding: 70px;
        padding-bottom: 10%;
        background-color: white;
    }
    
    &__titre{
        @include title-styles;
        color: $main-color;
        letter-spacing: 2px;
    }

    &__texte{
        margin: 20px 0;
        @include responsive-text(16, 20); 
    }

    &__sous-titre{
        font-weight: 900;
        color: $main-color;
        @include responsive-text(25, 35); 
        letter-spacing: 2px;
    }

    &__button{
        @include button(); 
    }

    &__lien{
        color: $main-color;
    }
    
    &__item{
        margin: 20px 0;
        @include responsive-text(16, 20); 
        list-style: inside;
        margin-left: 30px;
    }
}
