@import 'src/styles/_mixin.scss';

.loading{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    top: 0;
    &__titre{
        @include title-styles;
    }

}