@import 'src/styles/_variables.scss';
@import 'src/styles/_mixin.scss';

.newletter{
    background-color: #1c1c1c;
    color: white;
    border-radius: 15px;
    padding: 20px;
    &__titre{
        @include responsive-text(18, 22); 
        font-weight: 600;
    }

    &__button{
        @include button(); 
        background-color: $black;  
        padding: 10px !important;
        border-radius: 1px;
        width: 100px;
    }

    &__form{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
    }

    &__info{
        color: $white;
        @include responsive-text(12, 16); 
    }
}

.form-input{
    &--message{
        width: 70vw;
    }
    &__label{
        display: none;
    }
    &__input{
        margin: 15px 0;
        height: 15px;
        width: 180px;
        padding: 10px;
        border-radius: 5px;
        background-color: #313131;
        border: none;
        color: $white;
        &::placeholder{
            color: $white;
        }
    }

}