@import 'src/styles/_variables.scss';
@import 'src/styles/_mixin.scss';


.fonction{
    padding: 30px;
    text-align: center;
    @media (min-width: 900px) {
        padding: 70px;
    }
    &__titre{
        @include title-styles;
        letter-spacing: 2px;
        width: 100%;
        padding: 0 50px;
        text-align: left;
    }
    &__containt{
        display: flex;
        flex-direction: column;
        @media (min-width: 900px) {
            flex-direction: row;
            padding-top: 50px;
            justify-content: space-around;
            align-items: center;
        }
    }

    &__bouton{
        @include button($color: $white, $background: $main-color, $width : 300px);
        border-radius: 30px;
        display: inline-grid;
    }

    .item{
        width: 50vw;
        height: 200px;
        padding: 50px;
        margin: 10px;
        margin-right: 30px;
        border-radius: 5px;
        -webkit-box-shadow: -1px 3px 23px 5px rgba(0, 0, 0, 0.1);
        box-shadow: -1px 3px 23px 5px rgba(0, 0, 0, 0.1);
        border-top: 4px solid transparent;
        transition: 0.5s;

        @media (min-width: 900px) {
            width: 20vw;
            margin: 30px;
            height: 300px;
        }

        &:hover{
            border-top: 4px solid $main-color;
            // height: 450px;
            box-shadow: 0px 3px 40px 10px rgba(0, 0, 0, 0.1);
            // .item__texte--segond{
                // opacity: 1;
                // position: initial; 
            // }
        }

        &__image{
            width: 70px;
        }
        
        &__titre{
            margin: 20px 0 ;
            text-transform: uppercase;
            @include responsive-text(18px, 22px); 
        }

        &__texte{
            @include responsive-text(16px, 30px); 
            padding-bottom: 25px;
        }

    }

}

