<section class="fonction">
    <h2 class="fonction__titre">Testez les fonctionnalités</h2>

    <ul class="fonction__containt">
        <li class="item">
            <img class="item__image" src="assets/fonctionnalite/capteur.png">
            <h4 class="item__titre">Capteurs électroniques</h4>
            <p class="item__texte">Le caddie détecte et scan chaque produit déposé à l'interieur. </p>
        </li>
        <li class="item">
            <img class="item__image" src="assets/fonctionnalite/argent.png">
            <h4 class="item__titre">Montant en temps réel</h4>
            <p class="item__texte">Le client voit le montent du panier en temps réel </p>
        </li>
        <li class="item">
            <img class="item__image" src="assets/fonctionnalite/gps.png">
            <h4 class="item__titre">Localisation produits</h4>
            <p class="item__texte">Recherche d'itinéraire de produit à l'aide de la tablette. </p>
        </li>
        <li class="item">
            <img class="item__image" src="assets/fonctionnalite/sans-contact.png">
            <h4 class="item__titre">Paiement sur l'apareil</h4>
            <p class="item__texte">Possibilité de payer directement sur le caddie ou en caisse. </p>
        </li>
    </ul>
    
    <a class="fonction__bouton">Tester la démo</a>
</section>