@import "src/styles/_variables.scss";

@mixin button($color: white, $background: $main-color, $width : 200px) {
    padding: 10px;
    border-radius: 5px;
    background-color: $background;
    color: $color;
    font-size: 13px;
    width: $width;
    text-align: center;
    cursor: pointer;

    @media (min-width: 330px) {
        font-size: 16px;
        padding: 15px 13px;
    }

    @include box-shadow-none; 

    &:hover {
        @include box-shadow-none; 
    }
}

@mixin generale_container() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    margin: 5vw 7vw;

    @media (min-width: 900px) {
        font-size: 25px;
        font-weight: 700;
        flex-direction: row;
        width: 100vw;
        margin: 0;
    }

    &__infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 290px;
        @media (min-width: 900px) {
            width: calc(100vw - 350px);
        }

        @media (min-width: 1300px) {
            width: calc(100vw - 800px);
        }
    }

    &__titre {
        font-size: 16px;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
        @media (min-width: 900px) {
            font-size: 35px;
            font-weight: 700;
            width: 500px;
        }
    }

    &__image {
        height: 200px;
        width: 90vw;

        @media (min-width: 900px) {
            width: 300px;
            height: 450px;
            margin-right: 50px;
        }

        @media (min-width: 1300px) {
            width: 600px;
            height: 450px;
            margin-right: 100px;
        }
    }

    &__texte {
        @include responsive-text(16px, 20px); 
        margin: 10px;
        color: $black_light;
        @media (min-width: 900px) {
            font-weight: 400;
            margin: 20px;
            max-width: 500px;
        }
    }

    &__carte {
        height: 200px;
        width: 90vw;

        @media (min-width: 900px) {
            width: 300px;
            height: 450px;
        }
        @media (min-width: 1300px) {
            width: 800px;
            height: 450px;
        }
    }
}

@mixin box-shadow-none {
    box-shadow: none;
    border: none;
}

@mixin title-styles {
    font-size: 35px;
    font-weight: 600;
}


@mixin responsive-text($font-size, $line-height: null) {
    font-size: $font-size;
    @if $line-height {
        line-height: $line-height;
    }

    @media (min-width: 900px) {
        font-size: $font-size + 2px;
        @if $line-height {
            line-height: $line-height + 2px;
        }
    }
}


@mixin generale_container_benefits(){
    width: 90vw;
    margin: 5vw 7vw;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: 900px) {
        width: 80vw;
        margin: 5vw 10vw;
    }

    &__titre{
        font-size: 35px;
        font-weight: 700;
        width: 100%;
        text-align: left;
        margin-bottom: 50px;
    }

    &__info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: 900px) {
            width: 55%;
            margin-right: 20px;
        }
    }

    &__texte{
        width: 100%;
        text-align: left;
        @include responsive-text(16px, 20px);
        margin: 10px auto;
    }

    &__image{
        width: 100%;
        @media (min-width: 900px) {
            width: 40%;
        }
        &--only-desktop{
            display: none;
            @media (min-width: 900px) {
                display: block;
            }
        }
    }

    &__bouton{
        @include button($color: $white, $background: $main-color, $width : 100px);
    }

    &__item{
        margin-left: 10%;
        display: flex;
        position: relative;

        &::before {
            content: "";
            width: 12px;
            height: 12px;
            background-color: #1BA8A8;
            border-radius: 20px; 
            position: absolute;
            top: 15px;
            left: -40px;
        }

    }
}