<section class="header">
    <h1 class="header__title"> <strong class="header__title--strong">Simplifier les courses </strong> de vos clients !</h1>
    <p class="header__texte">CaddieUp révolutionne l'expérience d'achat en combinant technologie et commodité. Cette appareil innovant transforme votre caddie en un outil de shopping intelligent, simplifiant votre liste d'achats, vous guidant dans le magasin, et vous aidant à faire des choix éclairés.</p>

    <div class="header__action">
        <a routerLink="/about" class="header__bouton--border">En savoir plus</a>
        <a routerLink="/mock-ups" class="header__bouton">Tester la maquette </a>
    </div>

    <p class="header__plus">Plus de détails</p>
    
</section>


<section class="caddieUp">
    <div class="caddieUp__infos">
        <h3 class="caddieUp__titre">CaddieUp c'est quoi ?  </h3>
        <p class="caddieUp__texte">Caddi Up est un caddie connecté qui permet de fluidifier les flux dans les supermarchés et faciliter l’expérience des utilisateurs. Récupérez votre caddie en scannant votre carte de fidélité, ce qui le liera automatiquement à votre compte. Il vous permettra de connaître en temps réel le montant total de vos achats, qui sera affiché sur la tablette.</p>
    </div>
    <img src="assets/demo.png" class="caddieUp__image">
</section>

<section class="avantage">
    <h1 class="avantage__titre"> Pourquoi nous choisir ? </h1>
    <p class="avantage__texte">CaddieUp est votre partenaire solutions compétent qui vous accompagne dans la digitalisation des processus de vos courses.</p>

    <ul class="avantage__liste">
        <li class="avantage-item">
            <h3 class="avantage-item__titre">Facilite l’expérience de vos clients</h3>
            <p class="avantage-item__texte">CaddieUp à la possibilité de geolocaliser les produits dans tous le magasin</p>
        </li>
        <li class="avantage-item">
            <h3 class="avantage-item__titre">Conseille sur le choix des produits</h3>
            <p class="avantage-item__texte">L’application de CaddieUp permet de consulter les promotions dans votre magasin.</p>
        </li>
        <li class="avantage-item">
            <h3 class="avantage-item__titre">Accompagne pendant le processus d’achat</h3>
            <p class="avantage-item__texte">Notre application vous propose un tutoriel pour utiliser plus facilement notre produit.</p>
        </li>
        <li class="avantage-item">
            <h3 class="avantage-item__titre">Réduit le temps passé pendant les courses</h3>
            <p class="avantage-item__texte">Grâce à notre systeme de paiement intégré, vous n’avez plus besoin de passé du temps en caisse.</p>
        </li>
    </ul>
</section>


<section class="partenaire">
    <div class="partenaire__infos">
        <h3 class="partenaire__titre">Nos partenaires </h3>
        <p class="partenaire__texte">Chez CaddiUp, nous sommes fiers de collaborer avec des partenaires de renom qui partagent notre engagement envers l’excellence, l’innovation et la satisfaction client. Ces partenariats renforcent notre capacité à offrir des solutions de pointe et à maintenir notre position de leader dans notre domaine. Nous continuons à cultiver ces relations pour garantir que nos clients bénéficient des meilleures solutions possibles.</p>
    </div>
    <img src="assets/partenaire.png" class="partenaire__image">
</section>

<section class="map">
    <div class="map__infos">
        <h3 class="map__titre">Une fabrication 100% française ! </h3>
        <p class="map__texte">CaddiUp est fier de vous présenter une innovation française qui révolutionne la manière dont vous faites vos courses. Notre entreprise est le fruit d’une passion pour la technologie et le savoir-faire artisanal français, et nous sommes ravis de vous offrir nos caddies connectés, entièrement fabriqués en France. Chaque caddie connecté que nous concevons est une fusion parfaite de technologie de pointe et de fabrication artisanale. Rejoignez-nous pour une expérience de shopping connectée, innovante et éco-responsable.</p>
    </div>
    <iframe class="map__carte" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11565.351593123058!2d1.5554045089794835!3d43.55784178771917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1699808005041!5m2!1sfr!2sfr" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

<app-contact></app-contact>