



<section class="partenaire">
    <div class="partenaire__infos">
        <h3 class="partenaire__titre">Nos partenaires </h3>
        <p class="partenaire__texte">Chez CaddiUp, nous sommes fiers de collaborer avec des partenaires de renom qui partagent notre engagement envers l’excellence, l’innovation et la satisfaction client. Ces partenariats renforcent notre capacité à offrir des solutions de pointe et à maintenir notre position de leader dans notre domaine. Nous continuons à cultiver ces relations pour garantir que nos clients bénéficient des meilleures solutions possibles.</p>
    </div>
    <img src="/assets/partenaire.png" class="partenaire__image">
    
    <!-- class="partenaire__image" -->
</section>

<section class="map">
    <div class="map__infos">
        <h3 class="map__titre">Une fabrication 100% française ! </h3>
        <p class="map__texte">CaddiUp est fier de vous présenter une innovation française qui révolutionne la manière dont vous faites vos courses. Notre entreprise est le fruit d’une passion pour la technologie et le savoir-faire artisanal français, et nous sommes ravis de vous offrir nos caddies connectés, entièrement fabriqués en France. Chaque caddie connecté que nous concevons est une fusion parfaite de technologie de pointe et de fabrication artisanale. Rejoignez-nous pour une expérience de shopping connectée, innovante et éco-responsable.</p>
    </div>
    <iframe class="map__carte" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11565.351593123058!2d1.5554045089794835!3d43.55784178771917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1699808005041!5m2!1sfr!2sfr" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

<app-contact></app-contact>