<app-commun-header></app-commun-header>

<section class="functionality">
    <div class="functionality__info">
        <h3 class="functionality__titre">CAPTEURS ÉLECTRONIQUES</h3>
        <p class="functionality__texte">Déposez simplement les articles dans le fond du chariot, les capteurs se chargent de les scanner et les ajouter directement à la liste de votre panier sur la tablette du chariot.</p>
    </div>
    <img src="assets/functionality/capteur.png" class="functionality__image functionality__image--only-desktop ">
</section>

<section class="functionality">
    <div class="functionality__info">
        <h3 class="functionality__titre">MONTANT EN TEMPS RÉEL</h3>
        <p class="functionality__texte">Lorsque vous ajoutez ou enlevez un article de votre chariot, le montant de vos courses se met à jour en temps réel. Visualisez le montant de vos courses pour ne pas avoir de surprise en caisse.</p>   
    </div>
    <img src="assets/functionality/montant.png" class="functionality__image functionality__image--only-desktop ">
</section>

<section class="functionality">
    <div class="functionality__info">
        <h3 class="functionality__titre">LOCALISATION PRODUITS</h3>
        <p class="functionality__texte">Vous souhaitez acheter un article mais vous ne savez pas où il se situe? Indiquez l'article concerné sur la tablette intégrée et laissez-vous guider à travers les rayons grâce à un GPS.</p>
    </div>
    <img src="assets/functionality/localisation.png" class="functionality__image functionality__image--only-desktop ">
</section> 

<section class="functionality">
    <div class="functionality__info">
        <h3 class="functionality__titre">PAIEMENT SUR L'APAREIL</h3>
        <p class="functionality__texte">Choisissez de payer directement sur votre chariot connecté ou présentez-vous en caisse. Gardez vos articles dans le chariot, faites uniquement scanner par le caissier le QR code présent sur la tablette et il ne vous reste qu'a payer.</p>
    </div>
    <img src="assets/functionality/paiement.png" class="functionality__image functionality__image--only-desktop ">
</section> 

<app-fonctionnalites></app-fonctionnalites>
