<div class="shadow">
    <header class="header">
        <section class="header__droite">
            <h1 class="header__titre">Simplifier les courses de vos clients ! </h1>
            <p class="header__texte"> CaddieUp est un caddie connecté qui permet de fluidifier les flux des supermarchés. Récupérer votre caddie en scannant votre carte de fidélité, celui-ci sera directement lié à votre compte. Il vous permettra de connaître en temps réel le montant total de votre caddie. Les promotions seront directement appliquées et vous pour rez vous laisser guider pourtrouver vos produits. Ne perdez plus de temps aux caisses. Votre caissier scanne simplement le QR code qui s’affiche sur votre caddie, il ne vous restera qu’à payer. </p>
            <p class="header__button" (click)="openDialog()">S'inscrire à la newsLetter</p>
        </section>
        <img src="assets/caddieUp.png" class="header__image">
    </header>
</div>
<div class="banniere"></div>

<app-avantage></app-avantage>

<app-gain></app-gain>

<app-fonctionnalites></app-fonctionnalites>

<app-maquette></app-maquette>

<app-contact></app-contact>


