<section class="main">
    <h2 class="main__titre">Prenez contact ! </h2>
    <p class="main__texte">Vous avez une question ? Vous souhaitez en savoir plus sur nos chariots connectés ? Vous souhaitez nous faire part de vos commentaires ? N’hésitez pas à nous contacter, nous serons ravis de vous répondre !</p>
    
    <div class="contact__container" *ngIf="form">
        <form class="contact" [formGroup]="form" (ngSubmit)="onSend()">
            <label class="form-input form-input--demi"> <span class="form-input__label">Nom*</span>
                <input  value="" name="nom" formControlName="nom" id="nom" type="text" placeholder="Nom*" class="form-input__input form-input__input--demi">
                <p *ngIf="form.get('nom')?.hasError('required') && isSubmited" class="form-input__error">Vous devez rensigner votre nom</p>
            </label>
            <label class="form-input form-input--demi"><span class="form-input__label">Prénom*</span>
                <input  value="" name="prenom" formControlName="prenom" id="prenom" type="text" placeholder="Prénom*" class="form-input__input form-input__input--demi">
                <p *ngIf="form.get('prenom')?.hasError('required') && isSubmited" class="form-input__error">Vous devez rensigner votre prénom</p>
            </label>
            <label class="form-input"><span class="form-input__label">Email*</span>
                <input  value="" name="email" formControlName="email" id="email" type="email" placeholder="Email*" class="form-input__input">
                <p *ngIf="form.get('email')?.hasError('required') && isSubmited" class="form-input__error">Vous devez rensigner votre email</p>
            </label>
            <label class="form-input"><span class="form-input__label">Message*</span>
                <textarea value="" name="message" formControlName="message" id="message" rows="5" cols="100" class="form-input--message__input" placeholder="Message*"> </textarea>
                <p *ngIf="form.get('message')?.hasError('required') && isSubmited"  class="form-input__error">Vous devez rensigner votre message</p>
            </label>
            <label class="form-input--checkbox">
                <input  value="" name="checkbox" formControlName="checkbox" id="checkbox" type="checkbox">
                En cochant cette case vous acceptez d être recontacté par l'équipe de CadUp. <br>
                Les données sont conservées pour la bonne gestion du projet mais ne sont pas transmises à tiers.
                <p *ngIf="form.get('checkbox')?.hasError('required') && isSubmited"  class="form-input__error">Vous devez accepter les conditions</p>
            </label>
                
            <label class="form-input--checkbox">
                <input value="" name="newsletter" formControlName="newsletter" id="newsletter" type="checkbox">Je souhaite m'inscrire à la NewsLetter
            </label>
        
            <button class="contact__button" type="submit">Soumettre</button>    
        </form>
        
    
        <section class="info">
            <h3 class="info__texte">Nous sommes ravis de répondre à toutes vos questions et préoccupations concernant notre CaddiUp. Veuillez remplir le formulaire, et nous vous contacterons dans les plus brefs délais. Votre satisfaction est notre priorité, et nous sommes là pour vous aider à tirer le meilleur parti de votre expérience de shopping.</h3>
        </section>
        
    </div>

</section>