@import 'src/styles/_variables.scss';
@import 'src/styles/_mixin.scss';


.avantage{
    padding: 30px;
    text-align: center;
    @media (min-width: 900px) {
        padding: 70px;
    }
    &__titre{
        @include title-styles;
        letter-spacing: 2px;
    }
    &__sous-titre{
        margin: 20px 0 ;
        font-size: 20px;
    }
    &__containt{
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        @media (min-width: 900px) {
            flex-direction: row;
            padding-top: 100px;
            justify-content: space-around;
            align-items: center;
        }
    }

    &__liste{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &-item{
        padding: 20px;
        -webkit-box-shadow: -2px 15px 37px 14px rgba(0,0,0,0.1); 
        box-shadow: -2px 15px 37px 14px rgba(0,0,0,0.1);
        margin: 30px;
        border-radius: 20px;
        @media (min-width: 900px) {
            display: flex;
            @include box-shadow-none; 
            padding: 20px 0 ;
            margin: 0;
        }

        &__image{
            width: 80px;
        }
        &__titre{
            @include title-styles;
            text-transform: uppercase;
            margin: 10px;
            line-height: 25px;
            @media (min-width: 900px) {
                text-align: left;
                margin: 0;
                margin-left: 30px;
            }
        }
        &__texte{
            max-width: 450px;
            margin: 10px;
            @include responsive-text(18px, 25px); 
            @media (min-width: 900px) {
                text-align: left;
                margin: 0;
                margin-left: 30px;
            }
        }
    }

    &__image{
        display: none;
        @media (min-width: 900px) {
            display: block;
            width: 30vw;
            height: 17vw;
            border-radius: 5px;
            -webkit-box-shadow: -4px -5px 10px 1px rgba(0, 0, 0, 0.1); 
            box-shadow: -4px -5px 10px 1px rgba(0, 0, 0, 0.1);
        }

        &-icon{
            display: none;
            position: relative;
            @media (min-width: 900px) {
                display: block;
            }
            &--droite{
                top: -100px;
                left: -80px;
            }
            &--gauche{
                bottom: -100px;
                right: -100px;
            }
        }
    }
}