@import 'src/styles/_variables.scss';
@import 'src/styles/_mixin.scss';


.blog{
    width: 90vw;
    padding: 0 5vw;

    &__liste {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        width: 100%;
        align-items: center;
    }
    
    &__item{
        width: 100%;
        max-width: 400px;
        margin: 20px;
    }

    &__titre{
        width: 85.5vw;
        padding: 30px; 
        @include title-styles;
    }
}
