<section class="benefits">
    <h3 class="benefits__titre">La prochaine révolution du parcours utilisateur !    </h3>
    <div class="benefits__info">
        <p class="benefits__texte">Un caddie connecté adaptable à chaque magasin.</p>
        <p class="benefits__texte">Une nouvelle méthode d’achat qui facilite et simplifie l’expérience utilisateur de vos clients.</p>
        <p class="benefits__texte">Différentes fonctionnalités technologiques qui permette une expérience optimale.</p>
        <p class="benefits__texte">Permettez à vos client de réserver leur caddie via l’application et suivre l’affluence en temps réel avant que vos client se rende en magasin, cela permet de fluidifier votre flux.</p>
        <p class="benefits__texte">Une multitude davantage qui vous pousse à l’adopter !</p>
            
        <a class="benefits__bouton">Tester la démo</a>
    </div>
    <img src="/assets/demo.png" class="benefits__image">
</section>

<section class="benefits">
    <h3 class="benefits__titre">RÉDUIRE LES FILES D'ATTENTES</h3>
    <p class="benefits__texte">Faire les courses peut être une corvée, et la perspective de devoir attendre en file pour payer à la caisse ajoute souvent au stress de la journée. Cependant, avec l'avènement du caddie connecté, la révolution du shopping est en marche, et l'une de ses principales retombées est la réduction significative des files d'attente.</p>
    <p class="benefits__texte">Le caddie connecté est une avancée technologique majeure qui transforme fondamentalement la manière dont nous faisons nos courses. Il libère du temps pour les consommateurs et offre aux détaillants la possibilité de rationaliser leurs opérations, ce qui crée une situation gagnant-gagnant. </p>
    <div class="benefits__info">
        <ul class="benefits__liste">
            <li class="benefits__item"><p class="benefits__texte">Gain de temps : paiement instantané élimine le besoin de faire la queue à la caisse. </p></li>
            <li class="benefits__item"><p class="benefits__texte">Moins de stress : fini le stress lié à l’attente en file. Vous pouvez faire vos courses à votre propre rythme, sans vous soucier de la longueur de la queue. </p></li>
            <li class="benefits__item"><p class="benefits__texte">Moins d’erreurs : Le caddie connecté garde une trace précise de vos achats, ce qui réduit les risques d'erreurs de caisse.</p></li>
        </ul>
    </div>
    <img src="/assets/avantage/file_attente.png" class="benefits__image benefits__image--only-desktop">
</section>

<section class="benefits">
    <h3 class="benefits__titre">LIMITER LE TEMPS PASSÉ À CHERCHER LES PRODUITS</h3>
    <div class="benefits__info">
        <p class="benefits__texte">Optez pour la recherche GPS en magasin pour  faciliter votre parcours au sein du magasin, et surtout gagner du temps lorsque vous faites vos courses.</p>
        <p class="benefits__texte">Cette fonction GPS va vous guider tout au long de votre expérience afin de vous aider lorsque vous ferai appel à cet outil.</p>
        <p class="benefits__texte">Repérez-vous sur le plan, localisez votre produits et accédez-y en passant par les différentes allées du magasin.</p>
        <p class="benefits__texte">Gain de temps dans les magasins que vous ne connaissez pas, mais également lorsque des produits changent de places dans votre magasin favori.</p>
    </div>
    <img src="/assets/avantage/rechercher_produit.png" class="benefits__image benefits__image--only-desktop">
</section>

<section class="benefits">
    <h3 class="benefits__titre">FIDÉLISER VOTRE CLIENTÈLE</h3>
    <p class="benefits__texte">CaddieUp, une application novatrice dans le domaine des courses et du shopping, combine l'efficacité des achats en magasin avec un programme de fidélité client attrayant. </p>
    <div class="benefits__info">
        <ul class="benefits__liste">
            <li class="benefits__item"><p class="benefits__texte">Cette application simplifie la liste d'achats, vous fait profitez des promotions, et permet de scanner les produits grâce aux capteurs intégrés pour une expérience de shopping fluide. </p></li>
            <li class="benefits__item"><p class="benefits__texte">Là où CaddieUp se démarque, c'est dans son intégration intelligente de la fidélité client. Les utilisateurs peuvent utiliser leur compte client et leur permet de gagner des points pour leurs achats.</p></li>
            <li class="benefits__item"><p class="benefits__texte">De plus, le programme de fidélité offre des récompenses exclusives, des offres spéciales et des remises, renforçant ainsi le lien entre les clients et les marques. CaddieUp transforme ainsi les courses en une expérience satisfaisante et gratifiante pour les clients, tout en favorisant la fidélité à long terme.</p></li>
        </ul>    
    </div>
    <img src="/assets/avantage/fideliser_client.png" class="benefits__image benefits__image--only-desktop ">
</section>




<app-preview-blog title="ACTUALITÉS"></app-preview-blog>
