
<section class="mention">
    <h1 class="mention__titre">MENTIONS LÉGALES</h1>
    <p class="mention__texte">Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site CaddieUp l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
    
    <h2 class="mention__sous-titre">Edition du site </h2>
    <p class="mention__texte">Le présent site, accessible à l’URL https://manon-deleest.github.io/CaddieUp/ (le « Site »), est édité par :</p>
    <p class="mention__texte">Manon DELEEST, résidant 34 avenue du General Leclerc, 87000 Limoges, de nationalité Française (France), né(e) le 10/10/2001,</p>
    
    <h2 class="mention__sous-titre">Hébergement</h2>
    <p class="mention__texte">Le Site est hébergé par la société Github, situé 88 COLIN P. KELLY JR ST CA 94107 99404 SAN FRANCISCO, (contact téléphonique ou email : +33612345876).</p>
    
    <h2 class="mention__sous-titre">Directeur de publication</h2>
    <p class="mention__texte">Le Directeur de la publication du Site est Manon DELEEST.</p>
    
    <h2 class="mention__sous-titre">Nous contacter </h2>
    <p class="mention__texte">Par téléphone : +33781866366</p>
    <p class="mention__texte">Par email : manon.deleest@gmail.com</p>
    <p class="mention__texte">Par courrier : 34 avenue du General Leclerc, 87000 Limoges</p>

    <h2 class="mention__sous-titre">Données personnelles</h2>
    <p class="mention__texte">Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).</p>
</section>
